<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cidades no IBGE</title>
  <link rel='stylesheet' href='./css/estilos.css'>
</head>

<body>
  <div class='geral'>
    <div class='informacoes'>
      <div>
        <h1>Olá</h1>
        <section class='city-form'>
          <form>
            <label for="nome">Digite o nome da cidade:</label>
            <input name='nome' type='text' placeholder="Type the city here">
            <button type="submit">Show</button>
          </form>
        </section>
      </div>
      <div>
        <table>
          <tr>
            <th>Estado</th>
            <th>Cidade</th>
            <th>População</th>
            <th>Área</th>
          </tr>
          <tr>
            <td class='first'>...</td>
            <td class='sec'>...</td>
            <td class='terc'>...</td>
            <td class='four'>...</td>
          </tr>
        </table>
        <!-- informacoes da cidade e/ou do estado-->
      </div>
    </div>
    <div>
      <section class='show-svg'>
        <svg height="500" width="500" style="background:rgb(135,206,250)" stroke="rgb(139,0,139)" stroke-width="0.001">

          <path fill="rgb(0,154,250)" />
        </svg>
      </section>
    </div>
    <script src='js/showSvg.js'></script>
  </div>
</body>

</html>
